@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/* reset */
* {padding: 0; margin: 0;}
li {list-style: none;}

/* layout */
/* body에는 폰트 */
body {
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap {
    width: 100%;
}
.content {
    width: 1280px;
    background-color: #b39ddb;
    margin: 50px auto;
}
.content h2 {
    font-size: 38px;
    padding: 40px 30px;
}
.content ul {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.content li {
    width: 32%;
    float: left;
    margin-right: 2%;
}
.content ul li:nth-child(3) {
    margin-right: 0;
}
.content ul li .imgBox {
    width: 100%;
    height: 300px;
    background: url('./img/01.jpg') no-repeat center/cover;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    margin-bottom: 30px;
}
.content ul li:nth-child(2) .imgBox {
    background: url('./img/02.jpg') no-repeat center/cover;
}
.content ul li:nth-child(3) .imgBox {
    background: url('./img/03.jpg') no-repeat center/cover;
}
.content ul li .imgBox > p {
    font-size: 14px;
    margin-bottom: 15px;
}
.content ul li .imgBox .slogan {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}
.content ul li > span {
    font-size: 14px;
    font-weight: bold;
    color: #81d4fa;
    margin-bottom: 20px;
    display: block;
}
.content ul li .title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 40px;
    font-weight: 500;
}
.content ul li .title .sub {
    font-size: 15px;
}